body {
	background-color: gold;
	color: #fff;
	text-shadow: 1px 1px #000;
}

.converterBox {
	margin: 10% auto;
    width: 50%;
    box-shadow: 2px 2px 100px #000;
    outline: 5px solid #000;
    padding: 10px;
}

section {
	text-align: center;
}

.conversion, 
.result, 
.clearBtn {
	padding: 5px 5px;
	margin: 10px auto;
}

.farenheitButton,
.celsiusButton {
	margin: 3% auto;
}

#result {
	color: green;
}

